version: "3.8"

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  lazy-torrentio:
    build: .
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379
      - EZTV_URL=https://eztv.re
      - YTS_URL=https://yts.mx
    ports:
      - "19080:80"
